<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>{% block title %} ちかくのコンビニ {% endblock %}</title>
<meta name="description" content="今いる場所の近くのコンビニを探せるだけのサイト ちかくのコンビニ　" /> 
<meta name="keywords" content="コンビニ、コンビニエンスストア、近く、近くのコンビニ、jQueryMobile、YOLP" />
<link rel="stylesheet" type="text/css" href="/css/jquery.mobile/jquery.mobile.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/gears_init.js"></script>
<script type="text/javascript" src="/js/location_search.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.js"></script>

{% block head %}{% endblock %}
</head>
<body>
<div data-role="page" data-theme="d">

<div style="margin-top: 8px;; padding: 10px;  border: 0; text-align:left; background: #FFFFFF;">
<a href="/" target=_self ><img alt="ちかくのコンビニ" src="/images/shopnavi.png" /></a>
</div>

{% block header %}{% endblock %}

<div data-role="content">
{% block content %}{% endblock %}
</div>


{% block footer %}
<div style="text-align:center;padding:4px;font-size:80%;">Copyright (C) 2011 <a href="http://about.me/h19e" target="_blank">h19e</a> All right Reserved.</div>
{% endblock %}

</div>

</body>
</html>


