{% extends "globals/base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<div>この辺の近くにコンビニないかなぁ。。という時に近くにあるコンビニを見つけるためだけのサイトです</div>


<div id="current" style="margin:20px 0 4px 0" >
<strong><span id="current_position">現在地取得中...</span></strong>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<div id="map_canvas" style="height:140px;width:100%;"></div>


<a data-icon="search" data-role="button" href="javascript:location_search('/search/?')" style="padding-right:4px">現在地周辺のコンビニ一覧</a>

<div id="near_shop"></div>



<script>
location_display();
</script>

{% endblock %}




