{% extends "globals/base.html" %}

{% block header %}
<div data-role="header" data-position="fixed" data-theme="d" style="font-weight:normal;" id="header" >

{% if lat != "" and lon != "" %}
<div id="map_canvas" style="height:220px;width:110%;margin:-14px -14px 0 -14px"></div>
{% endif %}

</div>
{% endblock %}

{% block head %}
{{ map|raw }}
{% endblock %}


{% block content %}


<script type="text/javascript">
$(document).ready(function() {
    $("#mode").change(function(){
        $("#form_main").submit();
    });
    
});
</script>


<div style="margin-bottom:20px;width:100%;height:24px;">
<span style="float:left">対象店舗 : {{ totalCount }}件</span>
</div>


<ul data-role="listview" >
{% for key, shopInfo in shopList %}
<li><a style="padding:4px 40px 4px 10px;" href="/shop/map?lat={{ shopInfo.Latitude }}&lon={{ shopInfo.Longitude }}" target="_self" >
<h4><img src="/images/number/number4_{{ key }}b.png">&nbsp;{{ shopInfo.ShopName }}</h4>
<p>{{ shopInfo.Address }}</p>
<p>最寄駅:<strong>{{ shopInfo.StationName }}</strong></p>
</a>
</li>
{% endfor %}
</ul>

{% if more == true %}
<div id="more_list_1" style="margin-top:10px;"></div>
<ul data-role="listview" id="moreLine"><li data-icon="false" ><a href="javascript:void(0);" id="more" style="padding:20px;width:80%;text-align:center">もっと見る..</a></li></ul>
<script>

var i = 1;
var total = 0;
$("#more").click(function(){
    $("#header").hide();
    $("#more_list_" + i).load("/search/more/?{{ query|raw }}&condition=on&id=" + i + " #parts",function(){
        $("#more_list_" + i).page();
        i = i + 1;
        total = i * 10;
        if (total >= {{ totalCount }} ) { 
            $("#moreLine").hide();
        }
    });
});
</script>
{% endif %}

<!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
<a href="http://developer.yahoo.co.jp/about">
<img src="http://i.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0" style="margin:20px 0px 15px 0px"></a>
<!-- End Yahoo! JAPAN Web Services Attribution Snippet -->


{% endblock %}










