{% extends "globals/parts.html" %}


{% block content %}
<div id="parts">
<ul data-role="listview">
{% for key, shopInfo in shopList %}
<li><a style="padding:4px 40px 4px 10px;" href="/shop/map?lat={{ shopInfo.Latitude }}&lon={{ shopInfo.Longitude }}" target="_self">
<h4>&nbsp;{{ shopInfo.ShopName }}</h4>
<p>{{ shopInfo.Address }}</p>
<p>最寄駅:<strong>{{ shopInfo.StationName }}</strong></p>
</a>
</li>
{% endfor %}
</ul>
<div id="more_list_{{ i }}" style="margin-top:10px;"></div>


</div>
{% endblock %}

