<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>ちかくのコンビニ</title>
<link rel="stylesheet" type="text/css" href="/css/jquery.mobile/jquery.mobile.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/js/jquery.mobile.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $("#map_canvas").css("height",$('html').height() * 1);
    
    var myLatlng = new google.maps.LatLng({{ lat }},{{ lon }});
    var myOptions = {
        zoom: 17,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map
    });   
});

</script>
</head>
<body>

<div data-role="page" data-theme="d">
<div style="margin: 0; padding: 10px;  border: 0; text-align:left; background: #FFFFFF;">
<a href="/" target=_self ><img alt="shopnavi" src="/images/shopnavi.png" /></a>
</div>


<div data-role="contents">
<div id="map_canvas"></div>
</div>
</div>
</body>
</html>
