{% extends "globals/base.html" %}


{% block content %}


<div id="parts" style="margin:20px 0 20px 0;">
<strong>ここから一番近くのコンビニ</strong>
<ul data-role="listview" data-inset="true" >
{% for key, shopInfo in shopList %}
<li data-icon="false"><a style="padding:4px 40px 4px 10px;" href="/shop/map?lat={{ shopInfo.Latitude }}&lon={{ shopInfo.Longitude }}" target="_self" >
<h4>&nbsp;{{ shopInfo.ShopName }}</h4>
<p>{{ shopInfo.Address }}</p>
<p>最寄駅:<strong>{{ shopInfo.StationName }}</strong></p>
</a>
</li>
{% endfor %}
</ul>
<!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
<a href="http://developer.yahoo.co.jp/about">
<img src="http://i.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0" style="margin:4px 0px 15px 0px"></a>
<!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
</div>

{% endblock %}










