<!--
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script type="text/javascript">

var map;
var marker_list;
var infowindow_list;


$(document).ready(function() {

    //$("#map_canvas").css("height",$('html').height() * 0.8);

    marker_list = new google.maps.MVCArray();
    infowindow_list = new google.maps.MVCArray();

    var latlng = new google.maps.LatLng({{ lat }}, {{ lon }});
    var myOptions = {
        zoom: 14,
        center: latlng,
        //disableDefaultUI: true,
        mapTypeControl: false,
        navigationControl: false,
        streetViewControl:false,
        scaleControl: true,
        //draggable: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    };
    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
    setMarker(latlng);

});

function setMarker(latlng)
{  
    var query = '{{ query|raw }}'; 

    $.getJSON('/search/map/?' + query,function(data) {
        var stands = data;
        
        
        marker_list.forEach(function(marker,idx) {
            marker.setMap(null);
        });
        
        j = 0;
        for (var i = 0; i < stands.length; i++) {
        
        j++;
        
        var image_name = '/images/number/number4_' + i + 'b.png';
        var image = new google.maps.MarkerImage(image_name,
        new google.maps.Size(20,20),
        new google.maps.Point(0,0),
        new google.maps.Point(0,20));
        
        var stand = stands[i];
            var mylatLng = new google.maps.LatLng(stand[1],stand[2]);
            var marker = new google.maps.Marker({
                position: mylatLng,
                map: map,
                icon: image,
                title: stand[0],
                zIndex: stand[3]
            });
            marker_list.push(marker);
            createMarker(marker,stand[0]);     
        }
    });

}

function createMarker(marker,mess)
{
    var infowindow = new google.maps.InfoWindow({
        content: mess
    });
    
    infowindow_list.push(infowindow);

    google.maps.event.addListener(marker, 'click', function() {
        
        infowindow_list.forEach(function(infowindow,idx) {
            infowindow.close();
        });

        infowindow.open(map,marker);
    });
    google.maps.event.addListener(map,'click',function(){
        infowindow.close();    
    });
}


</script>

